.documentation-figure
  position relative
  display: flex
  flex-direction: column
  clear: both
  margin: 0.5em auto 1em
  &.right
    max-width: 50%
    float: right
    margin 0.5em 0em 1em 1em

  &.left
    max-width: 50%
    float: left
    margin 0.5em 1em 1em 0

  &>img, &>video
    float: none
    width: 100%
    margin: 0
    max-width: 100%
  figcaption
    text-align center
    font-size 0.8em
    margin-top: 0.25em
    font-style italic
    color var(--secondary-text-color)

.documentation-video-standalone
  max-width: 50%
  float: left
  margin 0.5em 1em 1em 0

.dev-tag
  font-size 0.8em
  font-weight 400
  padding: 0.25em 0.5em
  margin 0.2em 0.5em 0
  border-radius: 4px
  font-style italic
  float right
  background-color: var(--accent-secondary-color)
  color: var(--text-subtle-color)

:global

  .text-panel
    p, ul, ol
      hyphens: auto
    img, video
      border-radius: 6px
      box-shadow: 0 0 6px var(--card-shadow-color)
    code
      font-size: 0.9em

  .text-panel
    margin 0em 0.5em
    h2, h3, h4
      // Make sure headings clear floats (for videos)
      clear: both
      display: inline-block
      width: 100%
      margin 1em 0 0.5em
    ul
      margin-top 0.2em

.new-swatch
  font-size 0.8em
  font-weight 400
  display inline-block
  padding: 0.25em 0.5em
  margin 0 0.5em
  border-radius: 4px
  font-style italic
  float right
  background-color: var(--ui-color-accent)
  color: var(--ui-color-accent-text)

h2.version .version-name
  background-color: var(--ui-color-accent)
  border-radius: 4px

.version
  .version-name
    display inline-block
    padding: 0.25em 0.5em
    margin-right 0.5em
    color: var(--ui-color-accent-text)
    code
      font-size 0.9em
      font-weight: 400
  .date
    font-style italic