.chip
  padding 4px 6px
  margin-right 6px
  margin-bottom 6px
  border-radius: 5px;
  text-align: center;


.age-chip-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: inline-block;
}
.age-chip {
  display: inline-block;
}
.age-chip-age {
  font-size: 75%;
}
.age-chip-ma {
  font-size: 70%;
  font-weight: 400;
}

.age-ma {
  font-style italic
}

.lith-chip {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 12px;
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
}