.search-results-card
  padding: 0
  overflow-y: scroll

.search-results
  padding: 0;
  overflow: hidden
  position: relative
  li
    cursor pointer
    &:hover
      background-color: var(--accent-hover-color)
  ul
    list-style none
    margin: 0 
    padding-left 0


.search-result-row
  border-bottom 1px solid #ddd
  padding 0.2em var(--box-horizontal-padding)


.search-results-container
  flex-shrink 1

.search-guidance
  padding: 0 1em
  h3
    margin 1em 0 0.2em
  ul
    padding-left 1.2em
    margin 0.5em 0 1em
    li
      list-style-type: none
      position relative
      &:before
        content: '–'
        position: absolute
        left: -1em
