.flex-row
  display: flex
  flex-direction: row
  justify-content: space-between

.sidebar
  min-width: 200px
  max-width: 50%
  flex: 1

.column-map-container
  min-height: 200px
  position: relative
  aspect-ratio: 1



.group-identifier
  font-size: 0.8em
  color: var(--secondary-color)

.column-groups
  padding-left: 1em

.group-info
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: baseline
  gap: 2em
