.control-label
  display: inline-flex
  align-items center
  justify-content: space-between

.control-label-text
  margin-right: 1em

.flex-row
  align-items baseline
  h3
    flex: 1
    max-width: 9em
  display: flex
  flex: 1
  flex-direction: row
  max-width: 100%
