$transition(container_class, child_class)
  {container_class}
    {child_class}
      transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out, max-height 0.5s ease-in-out
    &{child_class}-from {child_class}
      opacity: 0
    &{child_class}-enter {child_class}
      opacity: 1
    &{child_class}-leave {child_class}
      opacity: 0

$transition('.main-ui', '.detail-panel')
$transition('.main-ui', '.context-panel')
