.htnl, .body, .main
    background-color: white
    color: black

a:hover
    text-decoration: none

.big
    color: #E0E1E6
    text-align: left
    font-size: 75px
    font-family: "Maven Pro", sans-serif
    margin: 0
    margin-left: 20%
    padding-top: 100px

.line
  border-bottom: 1px solid #E0E1E6;
  width: 60%
  margin: 0 20% 


.people
    color: white

.left
    float: left
    width: 30%
    margin-left: 20%

.right
    float: left
    width: 30%
    margin-right: 20%

.person-info
    height: 30vh
    width: 90%
    position: relative
    margin: 5%

.text
    text-align: right
    position:absolute
    padding: 5px 20px
    z-index: 100
    background-color: rgba(0, 0, 0, 0.2)
    bottom:0
    right: 0

    a
        color: white

    a:hover
        color: white

.back-img
    position:absolute
    z-index: 0
    height: 30vh
    object-fit: cover
    width: 100%

n
    font-size: 25px
    font-weight: 200px

t
    font-weight: 400px

e 
    font-size: 14px
    font-weight: 200px

.footer
  margin-top: 280vh

.subtitle
  margin-left: 20%
  color: #E0E1E6;