.html, .body, #apps
    color: black
    background-color: white

#apps
    padding: 75px 0


.nav
  position: fixed
  width: 100%
  z-index: 10000

  ul 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #015eab;

  li 
    float: left;
    font-size: 15px

  li a 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none

.app-header
  margin: 0
  padding: 0

.app-box 
  height: 15vh
  display: flex
  width: 60%
  margin: 0 20%
  position: relative
  color: black

.app-background-text
  margin: auto
  padding-right: 20px
  margin-right: 0
  text-align: right
  max-width: 55%
  font-size: 72px

.blurb
  font-size: 15px

.app-img
  height: 80%
  margin: auto
  margin-left: 6%

.big
  font-size: 72px
  font-family: "Maven Pro", sans-serif
  text-align: center  

.footer 
  width: 100%
  background-color: #015EAB

.footer-container
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%

.col-sm-4
  color: white
  width: 33.333%
  color: #E0E1E6;
  font-weight: 200;
  text-align: center;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold

.nav-logo
  padding-top: 5px

.funding-logo
  padding: 10px

.footer-nav
  list-style-type: none
  padding-right: 40px

  li
    padding: 5px 0

  a
    color: white

  a:hover
    text-decoration: none

.git_logo
  vertical-align: sub

.f1-text
  a
    color: white

#who-made-it
  padding-top: 25px
