@import "~/node_modules/normalize.css";
@import "~/node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "~/node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

.overlay {
  top: 100px;
  left: 20px;
  max-width: 500px;
}

.my-suggest {
  overflow: scroll;
  max-height: 200px;
}
