[submodule "bundledDeps/cesium-martini"]
	path = packages/cesium-martini
	url = https://github.com/davenquinn/cesium-martini.git
[submodule "deps/ui-components"]
	path = deps/web-components
	url = https://github.com/UW-Macrostrat/web-components.git
