h3,
h2 {
  margin: 0;
  padding: 0;
}

.int-list {
  display: flex;
  flex-direction: column;
  gap: 1.3em;

  h2 {
    margin: 0.5em 0;
  }

  .int-items {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;

    .int-name {
      padding: 2px 6px;
      margin: 0.2em 0;
      border-radius: 0.2em;
    }
  }
}

.search-bar {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border: none;
    background-color: var(--background-color);
    color: var(--text-emphasized-color);
    font-size: 1em;
    margin: 3px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0.2em var(--text-emphasized-color);
    }
  }
}

.int-tooltip {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

ul,
li {
  margin: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 20px;
}
