.sift-link {
  margin-bottom: 1em;
}

.strat-list {
  display: flex;
  flex-direction: column;
  gap: 1.3em;

  .strat-rank-group {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .strat-subgroup,
    .strat-group {
      border-left: 2px solid rgb(56, 62, 71);
      padding-left: 1em;

      .strat-items {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        align-items: center;

        .strat-name {
          padding: 2px 6px;
          margin: 0.2em 0;
          border-radius: 0.2em;
        }
      }
    }
  }
}

.search-bar {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border: none;
    background-color: var(--background-color);
    color: var(--text-emphasized-color);
    font-size: 1em;
    margin: 3px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0.2em var(--text-emphasized-color);
    }
  }
}

.filters {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.page-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    cursor: pointer;
  }
}
