.timescale-holder
  flex-grow: 1

.broken-timescale
  display: flex
  flex-direction: row
  .break
    z-index: 5
    border-left: 2px solid var(--text-color)
    margin-right: -1px
    margin-top 0.5px
    margin-bottom: 16.5px

.timescale-panel
  display: flex
  flex-direction: row
  margin: 20px 28px 10px 18px
  gap: 8px
  position: relative
  --timescale-cursor-color: var(--text-color)
  --timescale-background-color: var(--background-color)

  .controls
    width: 150px

.close-button
  position: absolute
  top: -16px
  right: -24px