.performance-value
  .name:after
    content: ': '

.performance-section
  display flex
  flex-direction row
  align-items baseline
  justify-content: space-between
  &>*
    margin-right: 1em
  margin-right -1em
  ul
    list-style-type none
    padding-left 0
