.title-block
  margin-bottom 1em

  h2
    margin-bottom 0.5em

.software-info
  background: var(--accent-color)
  position relative
  padding 5px
  border-radius 4px

  p
    margin 0

.experimental-settings-button
  position absolute
  top 0.2em
  right 0.2em

.nav-list
  list-style none
  padding-left 0 !important
  width: 50%
  position: relative
  margin: 0.2em 0

  :global(.bp6-button)
    width: 100%
    text-align left

    :global(.bp6-button-text)
      flex-grow: 1

:global
  .text-panel
    margin 0em 0.5em
    p, ul, ol
      hyphens: auto
    code
      font-size: 0.9em
    h2, h3, h4
      display: inline-block
      width: 100%
      margin 1em 0 0.5em
    ul
      margin-top 0.2em
