.htnl, .body, .main
    background-color: white
    color: black

a:hover
    text-decoration: none

.big
  font-size: 72px
  font-family: "Maven Pro", sans-serif;
  text-align: center

p 
  margin-bottom: 10px;
  margin-top: 0;

.title
  margin: 0
  font-size: 72px
  font-family: "Maven Pro", sans-serif;
  padding: 20vh 0
  text-align: center

.donate-img
  position:absolute
  z-index:5
  height: 80vh
  width: 60%
  object-fit: cover
  border-radius: 10px

.text
  position:absolute
  z-index: 100
  padding: 0 20px
  width: 60%

.card
  background-color: white
  padding: 0
  margin: 2% 20%
  margin-top: 100px
  width: 60%

  .link-title 
    font-size: 35px
    
    a
      color: black

  p
    font-size: 16px

  border-radius: 10px
  box-shadow: black 1px 0 10px

.donate-card
  height: 80vh

.donate-text
  position:absolute
  z-index: 100
  width: 60%
  display: grid
  margin:auto
  grid-template-rows: 20vh 60vh;
  height: 80vh

.donate-title
  a 
    color:white
  a:hover
    text-decoration: none

  display: grid
  margin: auto
  color: white
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-family: "Maven Pro", sans-serif;
  font-size: 100px

.caption-donate
  display: grid
  margin: auto
  padding: 25px
  margin-right: 20%
  margin-left: 20%
  background: rgba(255,255,255,0.6);
  color: black

  a
    color: black
    font-weight: bold
    text-decoration: none

  p
    margin-bottom: 0
    font-size: 175%
