
.breadcrumbs-root
  display: flex
  flex-direction: row
  gap: 1em
  flex: 1
  min-width: 0

  & > nav
    display: flex
    min-width: 0

  h1.macrostrat-wordmark.small
    font-size: 1.1em
    font-family: "Maven Pro", sans-serif

.logo-container
  padding: 0.2em 0
  display: block

.breadcrumbs
  flex: 1
  min-width: 0

.title-block
  display: flex
  flex-direction: row
  gap: 1em
  justify-content: space-between
  align-items: baseline

  .identifier
    color: var(--secondary-color)
    font-weight: 500
    font-family: var(--monospace-font)

