.transition-item
  &:global(.enter)
    opacity: 0
  &:global(.enter-active)
    opacity: 1
    transition: opacity 0.5s ease-in-out !important
  &:global(.exit)
    opacity: 1
  &:global(.exit-active)
    opacity: 0
    transition: opacity 0.5s ease-in-out !important
