@use "sass:color";
@use "@blueprintjs/colors/lib/scss/colors" as *;

// Overrides for Macrostrat style system colors
$dark-background: #141a1e;


$colors: (
        secondary-color: $gray3,
        secondary-background: $light-gray1,
        tertiary-background: $light-gray5,
        tertiary-color: $light-gray4,
        tertiary-border-color: $gray5,
        accent-color: $light-gray3,
        accent-hover-color: $light-gray1,
        accent-border-color: $gray5,
        background-color: #fff,
        panel-background-color: #fff,
        panel-secondary-background-color: #f5f8fa,
        translucent-panel-background-color: rgba(255, 255, 255, 0.2),
        panel-rule-color: #ddd,
        accent-secondary-color: #f5f8fa,
        accent-secondary-hover-color: #ebf1f5,
        ui-color-accent: rgb(252, 217, 250),
        ui-color-accent-text: rgb(143, 39, 138),
        box-horizontal-padding: 0.8em,
        text-color: #333,
        text-subtle-color: #555,
        dark-backgound: $dark-background,
        text-emphasized-color: #000,
        card-shadow-color: rgba(17, 20, 24, 0.15),
        error-text-color: #cd4246,
);

$accent: color.scale($dark-background, $lightness: 10%);
$dark-text: $gray4;

$dark-colors: (
        dark-background: $dark-background,
        text-emphasized-color: #fff,
        text-color: $dark-text,
        text-subtle-color: $gray3,
        panel-background-color: $dark-background,
        background-color: $dark-background,
        panel-secondary-background-color:
        color.scale($dark-background, $lightness: 5%),
        translucent-panel-background-color:
        color.change($dark-background, $alpha: 0.6),
        accent-color: $accent,
  // light gray 3,
        accent-secondary-color: $accent,
        accent-secondary-hover-color: color.adjust($accent, $lightness: 5%),
        panel-rule-color: #404854,
        secondary-color: $gray1,
  // gray3,
        tertiary-background: $dark-gray5,
        secondary-background: $dark-gray2,
  // light gray 5,
        tertiary-color: #383e47,
  // light gray 4,
        tertiary-border-color: #5f6b7c,
  // gray 5,
        accent-hover-color: color.adjust($accent, $lightness: 4%),
  // light gray 1,
        accent-border-color: #5f6b7c,
  // gray5,
        card-shadow-color: color.adjust($gray1, $alpha: 0.2),
        ui-color-accent-text: rgb(252, 217, 250),
        ui-color-accent: color.adjust(rgb(143, 39, 138), $lightness: -50%),
);
