.float-right
  float: right

.flex
  display: flex
  gap: 1em

  &.row
    flex-direction: row
    align-items: baseline

  &.align-center
    align-items: center

  .spacer
    flex-grow: 1

.stick-to-top
  position: sticky
  top: 0
  z-index: 1

.stick-to-bottom
  position: sticky
  bottom: 0
  z-index: 1

.padding
  padding: 1em

.fade-to-top
  background: linear-gradient(var(--background-color), rgba(255, 255, 255, 0))

