@use "@blueprintjs/colors/lib/scss/colors.scss" as colors
  
.float-right
  float: right

.stick-to-top
  position: sticky
  top: 0
  z-index: 1

.stick-to-bottom
  position: sticky
  bottom: 0
  z-index: 1

.padding
  padding: 1em