.expansion-panel
  border-radius 3px
  padding 0
  .expansion-panel-header
    cursor pointer
    &:hover
      background-color #eee
    border-bottom: 1px solid #ccc
    display flex
    padding 0.1em 0.5em
    flex-direction row
    align-items center
    .title
      flex-grow 1
