@require "./_colors";

*
  box-sizing border-box

// Colors taken primarily from blueprintjs v4
// See https://blueprintjs.com/docs/#core/colors
:root
  --secondary-color: $gray3
  --tertiary-background: $light-gray5
  --tertiary-color: $light-gray4
  --tertiary-border-color: $gray5
  --accent-color: $light-gray3
  --accent-hover-color: $light-gray1
  --accent-border-color: $gray5
  --panel-background-color: #fff
  --panel-secondary-background-color: #f5f8fa
  --translucent-panel-background-color: rgba(255,255,255,0.2)
  --panel-rule-color: #ddd
  --accent-secondary-color: #F5F8FA
  --accent-secondary-hover-color: #EBF1F5
  --ui-color-accent: rgb(252, 217, 250)
  --ui-color-accent-text: rgb(143, 39, 138)
  --box-horizontal-padding: 0.8em
  --text-color: #333
  --text-subtle-color: #444
  --text-emphasized-color: #000
  --card-shadow-color: rgba(17, 20, 24, 0.15)
  --error-text-color: #CD4246


html, body
  height 100vh
  height -webkit-fill-available
  overflow hidden

$dark-background = #141a1e
$accent = lighten($dark-background, 10%)
$dark-text = $gray4


.bp4-input
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);

.bp4-button
  color: var(--text-color)

.bp4-control
  color: var(--text-subtle-color) !important

body
  color: var(--text-color);
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  &.bp4-dark
    color: $dark-text;
    background-color: $dark-background;
    --text-color: $dark-text
    --text-emphasized-color: #fff
    --text-subtle-color: $gray3
    --panel-background-color: $dark-background
    --panel-secondary-background-color: lighten($dark-background, 5%)
    --translucent-panel-background-color: alpha($dark-background, 0.6)
    --accent-color: $accent // light gray 3
    --accent-secondary-color: lighten($accent, 0%)
    --accent-secondary-hover-color: lighten($accent, 5%)
    --panel-rule-color: #404854
    --secondary-color: $gray1 // gray3
    --tertiary-background: lighten($accent, 4%) // light gray 5
    --tertiary-color: #383E47 // light gray 4
    --tertiary-border-color: #5F6B7C // gray 5
    --accent-hover-color: lighten($accent, 4%) // light gray 1
    --accent-border-color: #5F6B7C // gray5
    --card-shadow-color: alpha($gray1, 0.4)
    --ui-color-accent-text: rgb(252, 217, 250)
    --ui-color-accent: darken(rgb(143, 39, 138), 50%)

    .bp4-card, .bp4-navbar
      box-shadow 0 0 0 1px var(--card-shadow-color)

    .bp4-input
      &::placeholder
        color: var(--secondary-color)
      box-shadow: 0 0 0 0 alpha($light-gray3, 0), 0 0 0 0 alpha($light-gray3, 0), inset 0 0 0 1px alpha($light-gray1, 0.15), inset 0 1px 1px alpha($light-gray1, 0.2);

.bp4-card, .bp4-navbar
  border-radius: 4px
  background-color: var(--panel-background-color) !important


body, .main-container {
  height: 100%;
  width: 100%;
  //min-height: -webkit-fill-available;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.other-attributes {
  margin-bottom: 50px;
}

.column-icon {
  fill:none;stroke:#231f20;stroke-miterlimit:10;stroke-width:3px;
}
.custom-svg-icon {
  flex-shrink: 0;
  margin-right: 16px;
}

.search-input {
  border: none;
  font-size: 16px;
  width: 100%;
  margin-left: 10px;
}
.search-input:focus {
  outline: none;
}

.searchresult-header 
  font-size: 1.1em !important;
  font-weight: bold !important;
  lettering-spacing: 2px !important;
  color: var(--text-color);
  position: sticky;
  top: 0px;
  background: var(--panel-background-color);
  border-bottom: 2px solid var(--panel-rule-color);
  margin:0;
  width: 100%;
  padding-top: 10px
  padding-bottom: 10px;
  .text
    padding-left: 15px;


.searchresult-item {
  font-size: 0.95em !important;
}

.active-layer {
  font-weight: bold;
}

.overlay {
  fill: none;
  pointer-events: all;
}


.infoDrawer-loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infodrawer-grid {
  /* width: 100% !important; */
  overflow-y: scroll !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infodrawer-content {
  min-height: 0;
  max-height: 100% !important;
  -webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	transition: 0.8s;
  background-color: var(--panel-background-color);
  padding: 20px;
  /* height: 100vh; */
}
.infoDrawer-root {
  z-index: 999999 !important;
  position: relative !important;
}
.infoDrawer {
  /* background-color: rgba(0,0,0,0) !important;
  box-shadow: none !important; */
  overflow-x: hidden !important;
  max-width: 33%;
  top: 0 !important;
}
.infodrawer-header-grid {
  padding-bottom: 0 !important;
  margin-bottom: -20px !important;
}
.infodrawer-header {
  float: right;
  background-color: var(--panel-background-color);
}

.infoDrawer-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infoDrawer-title-no-ellipsis {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
.inline-button-label {
  display: inline;
  font-size: 10px;
}

.flat-btn{
  padding: 0px 10px;
  min-height: 0px;
}

.map-source {
  margin-top: 30px;
}

.map-source-attr {
  display: block;
  padding-top: 10px;
}
.map-source-attr:last-child {
  //margin-bottom: 25px;
}
.attr {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.line-attr {
  display: block;
  margin-left: 15px;
}

.reference {
  font-size: 12px;
  line-height: 15px;
}
.ref-link {
  font-weight: bold;
  text-decoration: none;
}
.map_id {
  display: inline-block;
}
.long-text-button {
  margin-top: -20px !important;
  padding-top: 20px !important;
}

.macrostrat-inferred {

}

.externalLink {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.article {
  padding: 4px 0 4px;
  margin: 4px 0 6px;
}
.article-title, .article-title > a {
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
}
.sub-title {
  font-size: 80%;
}

.quotes {
  margin-top: 0px;
}
.gdd-snippet {
  font-size: 90%;
  margin-top: 4px;
  margin-bottom: 8px;
}
.hl {
  font-style: normal;
  background-color: #24DDB4;
  font-weight: bold;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}
.quotes {
  font-size: 90%;
}
#filter-title {
  padding-bottom: 0 !important;
  margin-bottom: -12px;
}

.about-section {
  display: block;
  padding-bottom: 15px;
}
.region-group {
  margin-top: -16px;
  font-size: 85%;
  color: var(--secondary-color);
}
.region-description {
  margin-top: -5px;
  margin-bottom: 10px;
}
.column-container {
  width: 150px;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
}
.column-unit {
  width: 25vh;
  float: left;
}
.pbdb-collection-paper {
  margin-bottom: 25px !important;
}
.pbdb-collection-content {
  padding: 10px;
}
.taxon-list {
  list-style: none;
  padding-left: 20px;
}
.phylum-list {
  padding-left: 0 !important;
}
.phyla {
  margin-bottom: 20px;
  font-size: 1.5em;
}
.classes {
  font-size: 0.8em;
}
.families {
  font-size: 0.8em;
}
.genera {
  font-size: 0.8em;
}
.searchbar-background {
  background-color: var(--panel-background-color);
}
.infoDrawer-map-ref {
  float: left;
}

.journal-title-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.journal-source {
  font-size: 14px;
  font-weight: 200;
  padding-left: 3px;
  color: #999;
}
.article-title {
  font-size: 13px;
}
.article-author {
  display: inline;
  font-weight: normal;
}
.title-link {
  text-decoration: none;
}
.expand-button {
  cursor: pointer;
  font-size: 20px !important;
  margin-left: 5px;
}
.gdd-journal-article-divider {
  margin-bottom: 15px !important;
}
.satellite-icon {
  margin-right: 33px !important;
}
.about-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 15px;
}
.filter-paper {
  border-radius: 0;
}



.searchbar-filter-title {
  font-weight: bold;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.filter-list {
  width: 100%;
}
.remove{
  font-size: 10px;
  color: orangered;
  text-decoration: underline;
  cursor: pointer;
}


/////////////////// SOURCES STYLES ////////

.map-source {
  padding: 10px;
}
.map-source-title {
  font-weight: bold;
  font-size: 115%;
}
.map-source-year {
  font-style: italic;
}
.hidden {
  display: none;
}
td {
  padding: 5px;
}
.container {
  position: relative;
}
.feature-list-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.infodrawer-container-sources{
  width: 30em;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
}

.source-row {
  word-wrap: break-word;
}
.hide {
  display: none;
}
.index-map-container {
  margin: 0;
  padding: 0;
  top: 0px;
  width: 100%;
  height: 100vh;
  bottom: 0;
}

#index-map {
  width: 100%;
  height: 100%;
}
.map {
  height: 350px;
  margin-top: 15px;
}
.title {
  margin: 0;
  color: #000000 !important;
}
.scale-badge {
  margin-left: 0 !important;
  color: #ffffff !important;
  padding: 5px;
  border-radius: 4px;
}
.tiny {
  background-color: #45B29D;
}
.small {
  background-color: #45B29D;
}
.medium {
  background-color: #E27A3F;
}
.large {
  background-color: #3498DB;
}
.header {
  flex: 0 1 56px;
  width: 100%;
}
.filter-button {
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  border: 1px solid #aaa;
}
.button-group {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
  text-align: center;
}
.button-group-title {
  margin-bottom: 0;
  font-size: 21px;
  text-align: center;
}

.flex-row
  display flex
  flex-direction row
  align-items center
  justify-content space-between

.spacer
  flex-grow 1

.spinner{
  margin: 10px;
}

// @media screen and (max-width: 768px) {
//   .infodrawer{
//     max-height: 60%;
//     width: 100%;
//     border-radius: 0px;
//     position: absolute;
//     bottom: 0px;
//   }
// }