.infodrawer-container
  width 30em
  position absolute
  right 0
  top 0
  bottom 0
  height 90vh
  /* This doesn't quite work when
     the page is too tall */
  .infodrawer
    max-height 100%
    header
      align-items center
      display flex
      flex-direction row
      div
        flex-grow 1
