@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-top: min(0vmin, env(safe-area-inset-top));
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
    padding-bottom: min(0vmin, env(safe-area-inset-bottom));
  }
}
