
.searchbar-holder
  .navbar-holder
    display: flex
    flex-direction: row
    .spacer
      flex-grow 1
  transition margin 300ms
  display flex
  flex-direction column
  margin 0
  .searchbar
    width: 100%
    background-color #fff
    border-radius 3px
    padding 0 5px
    display flex
    flex-direction: row
    align-items center
    .bp3-input-group
      flex-grow 1
    &>*
      margin-right 5px
      &:last-child
        margin-right 0 

  .search-guidance
    ul
      li
        position relative
        padding-left 1.2em
        &:before
          content: '–'
          position: absolute
          left: 0



// Should be maybe moved to a card-specific location

.filter-names {
  margin-bottom: 0px;
}

.filter-name-container
  display: flex
  justify-content: space-between
  align-items: center
  &>*
    margin-right: 0.5em
  margin-right: -0.5em

.filter-tongue {
  background-color: #def1ff;
  padding: 4px 6px;
  padding-top: 12px;
  margin: 5px;
  margin-top: -9px;
}

.filter-tongue-actions{
  display: flex;
  align-items: center;
  margin-left: 15px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar-holder{
    width: 100vw;
    left:0;
  }
  .bp3-input{
    border-radius: 0;
  }
  .searchbar-holder .searchbar{
    margin-bottom: 0;
    border-radius: 0;
  }

  .filter-tongue{
    max-width: 100vw;
    margin: 0;
    border-radius: 0;
    margin-top: -3px;
  }
}