.left-stack
  max-width 32em
  height 100vh
  margin-top -20px
  margin-bottom -20px
  padding-top 20px
  padding-bottom 20px
  display flex
  flex-direction: column
  .spacer
    flex-grow: 1


.searchbar-holder
  transition margin 300ms
  display flex
  flex-direction column
  margin 0
  .searchbar
    background-color #fff
    border-radius 3px
    margin-bottom 0.5em
  .search-results-container
    flex-shrink 1
    .bp3-card
      overflow-y scroll
    ul
      padding-left 0
      list-style-type none
  .search-guidance
    ul
      li
        position relative
        padding-left 1.2em
        &:before
          content: '–'
          position: absolute
          left: 0

  .search-results
    li
      padding: 0.2em 20px
      cursor pointer
      &:first-child
        border-top 1px solid #ddd
      border-bottom 1px solid #ddd
      &:hover
        background-color: #eee
    ul
      margin: 0 -20px
