.expansion-panel
  border-radius 3px
  padding 0
  .expansion-panel-header
    cursor pointer
    &:hover
      background-color #ddd
    display flex
    padding 0.1em 0.5em
    flex-direction row
    align-items center
    .title
      flex-grow 1

.whitespace-divider
  height 0.5em

.closeable-card
  padding 0
  min-height 40px
  .card-header
    display: flex
    align-items: center
    justify-content space-between
    padding 5px
    border-bottom 1px solid #ddd
    height 40px
  .card-content
    padding 20px
    padding-top 10px
    min-height 0
