.expansion-panel
  border-radius 3px
  padding 0
  .expansion-panel-header
    cursor pointer
    &:hover
      background-color #ddd
    display flex
    padding 0.1em 0.5em
    flex-direction row
    align-items center
    .title
      flex-grow 1

.whitespace-divider
  height 0.5em

.closeable-card
  .card-header
    display: flex
    align-items: center
    justify-content space-between
    margin -20px
    padding 0 10px
    border-bottom 1px solid #ddd
    height 40px
    margin-bottom 10px
