.strat-column-container
  min-height: 500px
  padding: 0 1em 1em
  --column-background-color: var(--panel-background-color)
  --column-stroke-color: var(--text-color)
  --column-note-color: var(--text-color)

:global
  .timescale-container .timescale
    width: calc(6em + 6px)
    --timescale-level-size: 1.5em

.strat-column-panel h3
  text-overflow: ellipsis
  overflow: hidden