h1
  span.subtitle
    color #aaa

#column-page
  .header
    margin 1em 2em 0.5em

svg#column-index-map
  background-color: lighten(dodgerblue,70%)
  width: 100%
  path.graticule
    stroke #aaa
    stroke-width 1px
    stroke-dasharray 1,1
    fill none

  path.land
    fill #eee
    stroke #aaa
    stroke-width 1px
    stroke-linecap round

  column_color=lighten(black,10%)
  path.column
    fill alpha(column_color, 10%)
    stroke column_color
    stroke-width 1.5px
    &.hovered
      fill alpha(column_color, 50%)
    &.selected
      fill alpha(column_color, 80%)
