h1
  span.subtitle
    color #aaa

#column-page
  .header
    margin 1em 2em 0.5em

svg#column-index-map
  background-color: black

  path.graticule
    stroke #aaa
    stroke-width 1px
    stroke-dasharray 1,1
    fill none

  path.land
    fill #eee
    stroke #aaa
    stroke-width 1px
    stroke-linecap round
