td
  text-wrap: nowrap
  background-color: #ffffff78

tr:nth-child(odd) td
  background-color: #ffffff

div.table-container
  display: flex
  flex-direction: column
  overflow: auto

div.interface
  padding-left: 10px
  padding-bottom: 10px
  padding-top: 10px

div.input-form
  display: flex
  flex-direction: row

.update-input-group
  flex-grow: 1