div.interface
  height: 100%
  background-color: #efefef
  border-radius: 10px
  margin-right: auto

button.icon-button
  aspect-ratio: 1 / 1
  margin: 5px
  display: flex
  flex-direction: column
  border-radius: 10px
  .icon-container
    display: flex
    margin: auto
    padding: 6px
  .icon-label
    padding-bottom: 10px

div.edit-table-drawer
  transition: max-width 0.1s ease-in-out
  overflow: scroll
  height: 100%
  display: flex
  flex-direction: row
  padding-left: 10px
  padding-bottom: 10px
  padding-top: 10px

div.edit-table-wrapper
  overflow: scroll
  width: 100%

div.width-adjuster
  cursor: col-resize
  width: 10px
  padding: 5px
  height: 100%
  &:hover
    background-color: #efefef