
/* For mobile phones, we want to make the most of screen space,
 which in some cases means adding complications to the basic page. */
@media only screen and (max-width: 768px)

  // Move the search bar and context panel to the bottom of the screen
  // .context-stack
  //   display flex
  //   order 1
  //   flex-direction: column-reverse
  //   max-height: 80%

  // Hide searchbar when infodrawer is open
  .main-ui.detail-panel-enter .context-stack
    height: 0
    visibility: hidden
    transition: height 0.5s ease-in-out


  // Make sure that our detail panel doesn't take up the entirety of the page
  .detail-stack
    height: fit-content
    position: inherit
    max-height: 70%

  .infodrawer-stack
    max-height: 70%
    &:global(.exit-active)
      max-height: 0

  // Completely hide zoom control
  :global(.mapbox-control.mapbox-zoom)
    display: none

  // Position map controls within the map area
  .map-controls
    position absolute
    top -60px
    right 10px

/* Desktop styling is necessarily much more complicated than mobile
  to handle a two-column layout. */
@media screen and (min-width: 768px)

  .main-ui
    flex-direction row
    padding 1em 1em 2em
    min-height: 80px
    &>*
      margin-right 0.5em
      &:last-child
        margin-right 0
    &.searching .context-stack
      width: 24em


  .context-stack
    max-width 34em
    min-width 14em
    width: 16em
    transition width 300ms ease
    //margin-right: -15.5em
    &.panel-open
      width: 34em
      margin-right 0.5em
    &.layers, &.settings
      width: 18em
      margin-right 0.5em
    // Leave a little space for Mapbox logo at the bottom
    padding-bottom: 0.5em

  .main-ui.detail-panel-open .detail-stack
    width: 30em

  .detail-stack
    width 30em
    // position absolute
    // right 0px
    // top 0px
    // bottom: 0px
    pointer-events none
    display flex
    flex-direction column

  .context-stack, .detail-stack
    pointer-events: none
    z-index: 100
    &>div
      pointer-events: all
      margin-bottom: 0.5em
      &:last-child
        margin-bottom 0
    &>div.spacer
      pointer-events: none

  /* Make map fill page rather than containing div,
    by unsetting map position */
  .map-view-container
    position: unset

  // .map-holder
  //   z-index: 1;
  //   position: absolute;
  //   top 0
  //   left 0
  //   bottom 0
  //   right 0
  //   height 100%

// padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

// Transitions

// @keyframes fadeIn
//   from
//     opacity: 0
//   to
//     opacity: 1


@require "./transitions.module.styl"