.title-block
  margin-bottom 1em
  h2
    margin-bottom 0.5em

.software-info
  background: var(--accent-color)
  position relative
  padding 5px
  border-radius 4px
  p
    margin 0

.experimental-settings-button
  position absolute
  top 0.2em
  right 0.2em

.nav-list
  list-style none
  padding-left 0 !important
  width: 50%
  position: relative
  margin: 0.2em 0
  :global(.bp5-button)
    width: 100%
    text-align left
    :global(.bp5-button-text)
      flex-grow: 1