.chip
  padding 3px 6px
  margin 2px 6px 2px 0
  border-radius: 5px;
  text-align: center;
  &.emphasized
    font-weight: 600;

.age-chip-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: inline-block;
}
.age-chip {
  display: inline-block;
}

:global(.bp5-dark) .age-chip {
  color: #fff;
}

.age-chip-age {
  font-size: 75%;
}
.age-chip-ma {
  font-size: 70%;
  font-weight: 400;
}

.age-ma {
  font-style italic
}

.lith-chip
  display: inline-block;
  font-size: 12px;
  background-repeat: repeat;
  background-size: cover;
  //background-color: rgba(255,255,255,0.5);