## place this into an .env.development file in this directory!!
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_CLIENT_URL=http://localhost:3001
NEXT_PUBLIC_BASE_URL=

## .env.production
NEXT_PUBLIC_SERVER_URL=http://postgrest:3001
NEXT_PUBLIC_CLIENT_URL=http://localhost:3001
NEXT_PUBLIC_BASE_URL=/dacite
