
.breadcrumbs-root
  display: flex
  align-items: center
  flex-direction: row
  gap: 1em
  flex: 1
  min-width: 0

  & > nav
    display: flex
    min-width: 0

.breadcrumbs
  flex: 1
  min-width: 0

.title-block
  display: flex
  flex-direction: row
  gap: 1em
  justify-content: space-between
  align-items: baseline

  .identifier
    color: var(--secondary-color)
    font-weight: 500

