
.breadcrumbs-root
  display: inline-flex
  align-items: center
  gap: 0.5em


.title-block
  display: flex
  flex-direction: row
  gap: 1em
  justify-content: space-between
  align-items: baseline

  .identifier
    color: var(--secondary-color)
    font-weight: 500
