.sticky-header
  position: sticky
  top: -1em
  z-index: 100
  margin: 0
  padding: 1em 0 0
  --sticky-header-height: 3em

  .backdrop
    height: var(--sticky-header-height)
    background-color: var(--pz-background-color)
    width: 100vw
    position: fixed
    top: 0
    left: 0
    pointer-events: none
    z-index: -1

  &:global(.is-stuck)
    .backdrop
      border-bottom: 1px solid var(--pz-panel-rule-color)

  &.fade-bottom
    .backdrop
      background: linear-gradient(var(--pz-background-color) 90%, transparent)
      border-bottom: none
