div.correlation-chart
  position: relative

.bar
  position: absolute

// Ideally this wouldn't be necessary
.page-inner
  position: relative
  margin: 2em auto 3em
  display: flex
  flex-direction: column
  height: 100%


.vis-container
  flex: 1
  overflow: hidden

.popover-container
  pointer-events: none
  position: relative

.popover-main
  position: absolute
  outline: 2px solid #f22

  :global(.bp5-popover-target)
    height: 100%
    width: 100%
    display: block
    line-height: 0

.legend-panel-outer
  width: 25em
  max-height: 60vh
  overflow-y: scroll

.legend-info-panel
  padding: 1em
  header
    display: flex
    justify-content: space-between
    code
      font-size: 0.9em
      color: var(--secondary-color)
    align-items: baseline

  h3
    margin: 0 0 0.5em
    font-size: 1.1em

.data-field
  margin: 0.2em 0 0.4em
  &.inline
    display: flex
    flex-direction: row
    align-items: baseline
    gap: 1em
    justify-content: space-between
    .value
      text-align: right
  .label
    font-size: 0.9em
    font-weight: bold
    display: block
    color: var(--secondary-color)
  .value-container
    display: block
    font-size: 0.9em
  .unit
    color: var(--secondary-color)
    
