body
  margin: 0
  padding: 0

.footer-panel
  margin: 2em auto
  gap: 2em

.page
  display: flex
  flex-direction: column
  align-items: center

.page-header
  margin: 2em auto 1em
  width: var(--qz-main-content-width)
  display: flex
  flex-direction: row
  justify-content: space-between

.footer-panel, .load-progress
  display: flex
  flex-direction: column
  align-items: center

.load-progress
  min-height: 100px
  justify-content: center

.page-footer
  width: 100%
  margin-bottom: 4em

