.data-scroll-body
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
  grid-auto-rows: minmax(80px, auto)
  gap: 1em
  // TODO: make this more flexible
  --data-panel-card-padding: 0
