.column-builder :global {
  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  .table-container {
    margin: 10px;
    height: 100%;
    padding: 0px;
    border-radius: 3px;
  }

  .col-group-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bp5-menu {
    max-height: 400px;
    max-width: 400px;
    overflow: auto;
  }

}

.mySuggest {
  overflow: scroll;
  max-height: 200px;
}

.itemSelectPopover {
  padding: 5px;
  background-color: var(--panel-background-color);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
.interval-row {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  align-items: baseline;
}
.color-block {
  border-style: solid;
  //border-color: black;
  border-width: 0.5px;
  height: 30px;
  width: 30px;
}
.page {
  margin: 10px;
}
.bread-crumbs {
  display: flex;
}
.strat-name-con {
  display: flex;
  align-items: baseline;
}
.strat-name {
  margin: 0;
}
.tag-container,
.tag-popover {
  flex-wrap: wrap;
  display: flex;
  align-items: baseline;
}
.tag-popover {
  padding: 10px;
  height: 300px;
  width: 900px;
  overflow-y: scroll;
}
.tag {
  margin: 1px;
}
.interval-cell-min-editor {
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: space-between;
}
.nomargin {
  margin-bottom: 0px;
}
.margin-bottom-spacing {
  margin-bottom: 20px;
}
.map-container {
  height: 200px;
  width: 100%;
}

.header,
.header-drag {
  min-height: 15px;
  padding: 5px;
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 15px;
  //background: rgb(211, 216, 222);
  font-weight: bold;
}

.header-drag {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.lng-lat-inputs {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

.col-editor-container {
  display: flex;
  justify-content: space-between;
}

.unit-section-tables {
  width: 75%;
}
.unit-section-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.unit-moved {
  box-shadow: -6px 0px 0px 0px #10b146;
}

.btwn-row-btn {
  height: 10px;
  width: 100%;
  margin: -10px 0%;
  padding-top: 5px;
  &:hover {
    cursor: pointer;
  }
}

.base-table {
  border: solid 1px;
  //border-color: #c5cbd3;
  margin: 10px;
  //background-color: white;
  border-radius: 5px;
}
.full-width {
  width: 100%;
  table-layout: fixed;
}

.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80px;
  white-space: nowrap;
}

.strat-name-tooltip {
  h4 {
    margin: 0;
  }
  .underline {
    text-decoration: underline;
  }
  i {
    color: rgb(166, 170, 174);
    a {
      text-decoration: underline;
      color: rgb(108, 138, 175);
    }
  }
}
.no-strat-meta {
  h4::before {
    color: rgb(243, 170, 33);
    content: "Warning: ";
  }
}

///////////////////////// strat modal ///////////////
.concept-card {
  h4 {
    margin: 0;
    font-size: 15px;
  }
  .geologic-age {
    font-style: italic;
    //color: #7b7b7b;
  }
  p {
    margin: 0;
    a {
      text-decoration: underline;
    }
  }
}
.strat-title {
  h3 {
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
}

.related-strat-card {
  h3 {
    margin: 0;
  }
}
.strat-name-dialog-container {
  display: flex;
  padding: 10px;
  .left,
  .right {
    margin: 5px;
  }
}
.strat-dialog-bottom {
  margin: 10px;
}

/////////////// ref list item //////////////////
.ref-author {
  font-style: italic;
  &::before {
    content: "-";
  }
}
.doi {
  &::before {
    content: "DOI: ";
  }
  color: rgb(86, 109, 138);
}
