@import "~/node_modules/normalize.css";
@import "~/node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "~/node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

.column_name {
  background-color: #ced9e0;
  margin-top: 0px;
}

.clicked-entity {
  background-color: #ced9e0;
}
