.int-names {
    display: flex;
    gap: 5px;
    
    .int-name, .int-abbrev {
        padding: 2px 6px;
        margin: .2em 0;
        border-radius: 0.2em;  
        font-size: 2em;
    }
}

ul, h3 {
    margin: 0;
    padding: 0;
}