.int-names {
    display: flex;
    gap: 5px;
    flex-direction: column;
    
    .int-name {
        padding: 2px 6px;
        margin: .2em 0;
        border-radius: 0.2em;  
        font-size: 2em;
        display: flex;
        width: fit-content;
    }
    
    .int-abbrev {
        display: flex;
        gap: 5px;
        align-items: center;

        p {
            margin: 0;
        }

        .int-abbrev-item {
            padding: 2px 6px;
            margin: .2em 0;
            border-radius: 0.2em;  
            font-size: 1em;
        }
    }
}

ul, h3 {
    margin: 0;
    padding: 0;
}

.ref-list {
    margin-top: 1em;
}

.table {
    background-color: var(--secondary-color);
    color: var(--text-emphasized-color);
    border: 2px solid #000;

    p {
        margin: 0;
    }

    .table-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em;
        gap: .5em;
    }
}

#map {
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.int-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
}