.column-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
}

.column-group {
    cursor: pointer;
}

.column-groups {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-bar {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border: none;
    background-color: var(--background-color);
    color: var(--text-emphasized-color);
    font-size: 1em;
    margin: 3px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0.2em var(--text-emphasized-color);
    }
  }
}

.column-row {
    display: grid;
    grid-template-columns: 10% 60% 20% 10%
}

.active, .inprocess, .obsolete {
    place-self: end start;
    padding: 0.5em;
    margin: .2em 0;
    border-radius: 0.2em;  
    font-weight: bold;
}

.active {
    background-color: green;
    color: white;
}

.inprocess {
    background-color: yellow;
    color: black;
}

.obsolete {
    background-color: red;
    color: white;
}

.col-id, .col-group, .col-link {
    margin: auto;
    margin-left: 0;
}