.flex-between {
  display: flex;
  justify-content: space-between;
}
.source-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  text-align: right;
}
.name-text {
  display: flex;
  flex-direction: column;
}
.author-source-tag {
  display: flex;
}
.author-tag {
  margin-left: 3px;
}
.parent-name {
  color: #5f6b7c;
}
