.strat-column-container
  padding: 0 1em 1em
  --column-background-color: var(--panel-background-color)
  --column-stroke-color: var(--text-color)
  --column-note-color: var(--text-color)

.strat-column-panel h3
  text-overflow: ellipsis
  overflow: hidden

.unit-details-panel
  position: sticky
  bottom: 0
  background-color: var(--panel-background-color)
  max-height: 40vh
  font-size: 0.9em
  min-height: 200px

