.stats-table
    display: grid
    grid-template-columns: repeat(4, 25%)

    .stat
        border-right: 1px solid var(--text-color)
        border-bottom: 1px solid var(--text-color)
        border-top: 1px solid var(--text-color)
        padding: .5em
        text-align: center

    .stat:first-child
        border-left: 1px solid var(--text-color)
        

.search-container

  .search-results
    background-color: var(--panel-background-color)

    .category
      text-align: left
      background-color: var(--accent-secondary-color)
      padding: 5px 10px
      margin: 0
      border-top: solid var(--panel-background-color) 2px

    .items
        display: flex
        flex-direction: column

        .item
            text-align: left
            padding: 2px 20px
            cursor: pointer
            width: 100%
            text-decoration: none

            &:hover
                background-color: var(--accent-secondary-hover-color)

.content-page
    display: flex
    flex-direction: column
    gap: 1em

.header, .update-title
  display: flex
  justify-content: space-between
  align-items: flex-start

.title
  margin: 0

.update-title
  display: flex
  justify-content: space-between
  position: relative

.update-container
  padding: 0 1em
  max-height: 80vh
  overflow-y: auto

  .update-list
    padding-top: .5em

  .update
    height: 250px


.close-btn
  position: absolute
  z-index: 100
  top: 1em
  right: 0
  cursor: pointer
