.stats-table
    display: grid
    grid-template-columns: repeat(4, 25%)

    .stat
        border-right: 1px solid var(--text-color)
        border-bottom: 1px solid var(--text-color)
        border-top: 1px solid var(--text-color)
        padding: .5em
        text-align: center

    .stat:first-child
        border-left: 1px solid var(--text-color)
        