.dark-mode-controls
  display: flex
  gap: 0.5em
  align-items: center

  & > :first-child
    flex-grow: 1

.auto-button
  font-size: 12px
  font-style: italic

.vertical
  flex-direction: column
  gap: 0.2em
  align-items: start
  .auto-button
    margin-left: 2.2em




