.htnl, .body
    background-color: white

.people
    z-index: 100
.big
    color: white

.left
    float: left
    width: 50%
    background-color: green

.right
    float: right
    width: 50%
    background-color: red

.person-info
    height: 10vh
    text-align: right
    padding: 3px 20px
    color: blue
    border: dotted

.back-img
    position:absolute
    z-index:0
    object-fit: cover
