.error404
    background: black
    height: 100vh
    text-align: center
    color: black

    h1 
        margin-top 0
        font-size 100px

.error-text
    position absolute
    z-index 2
    top 30%
    left 50%
    transform translate(-50%, -50%)
    color white

.error-image
    position absolute
    z-index 1
    top 0
    left 0
    opacity .5

.buttons
    display flex      
    gap 100px
    justify-content center
    margin-top 50px

    a 
        text-decoration none


button:hover
    background-color var(--secondary-background-color)
    color: var(text-emphasized-color) !important

.btn
    background-color var(--background-color)
    color: var(text-emphasized-color) !important
    cursor: pointer
    margin 14px 0