.htnl, .body, .main, .publications
    background-color: white
    color: black !important

.publications
  padding: 8vh 20% 5vh 20%

.container
  background-color: white

a:hover
    text-decoration: none

.big
  font-size: 72px
  font-family: "Maven Pro", sans-serif
  text-align: center

.pub-line
  width: 60%
  border-bottom: 1px solid black
  position: absolute

.pub-title 
  text-align: left
  position: relative
  margin: 0
  padding: 0
  color: black

.pub-list
  padding-top: 10px
  margin-left: 20px
  counter-reset: pub-counter 70
  color: black

  li
    counter-increment: pub-counter -1

  li::marker
    font-size: 35px
    color: #babdc8
    content: counter(pub-counter) " "
    counter-increment: pub-counter

.blurb
  font-size: 15px
  color: black