.strat-name-stack {
  height: 500px;
}
.action-btns {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 3px 0;
  top: 0;
  background: white;
  margin-bottom: 5px;
}
.strat-name-select {
  padding: 1px 10px 0 10px;
}
.bottom {
  .row {
    display: flex;
  }
  .new-strat-name {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  margin: 10px;
}
