@use "sass:color";
@use "@blueprintjs/core/lib/scss/variables" as *;

$colors: (
  img-color: invert(0),
  anti-img-color: invert(1),
);

$dark-colors: (
  img-color: invert(1),
  anti-img-color: invert(0),
);
