:global(.in-page-transition)
  height: 100vh
  overflow: hidden
  position: relative

// An admin console for the page
.page-admin-container
  position: fixed
  top: 0
  right: 0
  margin: 1em
  z-index: 5000

.fullscreen-page
  height: 100vh
  overflow: hidden
  position: relative

.app-shell
  background-color: var(--background-color)

.column-map
  height: 100%
  width: 100%
  aspect-ratio: 3/2
  cursor: pointer
  z-index: 100

.map-area-container
  width: 100% !important
  height: 50vh !important

.nav
  border-bottom: 2px solid var(--text-emphasized-color)
  background-color: var(--background-color)
  width: 100%
  padding: 1em .5em
  display: flex
  flex-direction: row
  gap: 1em
  align-items: center
  justify-content: center

  a
    color: var(--text-emphasized-color) !important

  .nav-link
    display: flex
    justify-content: center
    align-items: center

  a
    text-align: center
    text-decoration: none


.footer
  width: 100%
  position: absolute
  border-top: 2px solid var(--text-emphasized-color)
  left: 0
  margin: 0
    border-top: 2px solid var(--text-emphasized-color)

  .funding-line
    color: var(--text-emphasized-color)

  .footer-nav
    display: flex
    padding: 2em 0
    flex-wrap: wrap
    max-width: 400px 
    gap: 10px 40px

    a 
      color: var(--text-emphasized-color) !important

  .footer-nav > *
    width: calc(50% - 20px) 

  .footer-container
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 0 auto
    width: 60%

  .footer-text-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 1em 0

    .footer-text
      display: flex
      gap: 5px

  .nav-logo
    padding-top: 5px

  .git_logo
    vertical-align: sub

  .f1-text
    display: flex
    gap: 7px

    a
      color: white

  #who-made-it
    padding-top: 25px

  .nav-link
    display: inline-flex
    gap: 5px
    align-items: center

.loading
  text-align: center
  padding-top: 20vh
  height: 100vh
  display: flex
  flex-direction: column
  gap: 2em

.img-light
  filter: invert(1)

.search-bar 
  display: flex
  gap: 5px
  align-items: center
  justify-content: center

  input 
    width: 100%
    padding: 0.5em
    border-radius: 0.2em
    border: none
    background-color: var(--background-color)
    color: var(--text-emphasized-color)
    font-size: 1em
    margin: 3px

    &:focus 
      outline: none
      box-shadow: 0 0 0.2em var(--text-emphasized-color)
    