:global(.in-page-transition)
  height: 100vh
  overflow: hidden
  position: relative

// An admin console for the page
.page-admin-container
  position: fixed
  top: 0
  right: 0
  margin: 1em
  z-index: 5000

.fullscreen-page
  height: 100vh
  overflow: hidden
  position: relative

.app-shell
  background-color: var(--background-color)
