body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}
html, body, .react {
  height: 100%;

}
.hide {
  display: none;
}
#header {
  width: 100%;
  display: table;
  border-bottom: 1px solid rgba(153,0,0,0.2);
  padding-bottom: 3px;
  height: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  /*overflow: scroll;
  height: 100%;*/
  width: 100%;
  padding: 0;
/*  margin-bottom: 200px;
  position: fixed;*/
}
.page-content {
/*  padding: 0 30px; */
  margin-bottom: 150px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}
.page-content:after {
  content: "";
  display: block;
}
.footer, .page-content:after {
  height: auto;
}
.header-title {
  color: #990000;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  margin-left: 7px;
  display: inline;
}

#header > h3 {
  text-align: left;
  padding-left: 15px;
}

.headerItem > a {
  text-decoration: none;
}
.headerItem.left {
  margin-top: 5px;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.header-logo {
  height: 20px;
  display: inline;
}
.headerItem.right {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
  padding-bottom: 7px;
  width: 250px;
  right: 5px;
  position: relative;
}
.autocomplete-mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 999999;
}
.autocomplete-wrapper {
  /*width: 50%;
  margin-left: 24%; */
  margin-top: -15px;
}
.autocomplete-container {
  width: 100%;
  text-align: left;
  position: absolute;
  z-index: 9999999;
  background-color: #FFFFFF;
}
.autocomplete-input {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  -webkit-appearance: none;
}
.autocomplete-results {
  width: 100%;
  padding: 10px;
  margin-top: -5px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 5px rgba(50,50,50,0.2);
}
.autocomplete-result-category {
  margin-bottom: 5px;
}
.autocomplete-result-category-title {
  color: #777777;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
.autocomplete-result-category-list {
  list-style: none;
  margin-left: -45px;
  margin-top: -12px;
  cursor: pointer;
}
.autocomplete-hint {
  padding: 15px;
}
.autocomplete-hint > p {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 1px;
  font-weight: 300;
}
.autocomplete-hint > ul {
  list-style: none;
  color: #777;
  font-weight: 200;
  margin-left: -25px;
}
.autocomplete-hint > ul > li {
  padding: 5px;
}
.autocomplete-hint > ul > li > a {
  color: inherit;
}
.hidden {
  display: none;
}
.result-item {
  padding: 7px 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
}
.result-item.focused {
  background-color: #1092fe;
  color: #fff;
}
.result-item-id {
  font-size: 10px;
  color: #777;
  margin-left: 5px;
}

.main-search {
  display: table;
  text-align: center;
  padding: 60px;
  height: 475px;
  width: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: #ffffff;
}

.main-title-container > h3 {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 8px;
  margin-bottom: 0;
}

.winnow {
  color: #900;
  letter-spacing: 5px;
  margin: 0;
}

.macrostrat {
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 100;
  margin: 0;
}

.main-autocomplete-container {
  position: relative;
  padding-top: 20px;
}

.main-stats-table {
  width: 100%;
  border-spacing: 0;
}
.main-stats-stat {
  width: 25%;
  text-align: center;
  font-weight: 200;
  padding: 35px;
  border: 1px solid #eee;
}

.chart-container {
  height: 100%;
  position: relative;
  border-right: 1px solid #eee;
  max-width: 215px;
}

.doughnut-legend {
  list-style: none;
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 1px 8px 1px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.random-column-stats {
  position: absolute;
  z-index: 10000;
  background-color: rgba(255,255,255,0.95);
  height: 100%;
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.random-column {
  position: relative;
  margin-bottom: 50px;
  height: auto;
/*  box-shadow: 0px 6px 10px -6px #aaa, 0px -6px 10px -6px #aaa;
  -webkit-box-shadow: 0px 6px 10px -6px #aaa, 0px -6px 10px -6px #aaa;
  -mox-box-shadow: 0px 6px 10px -6px #aaa, 0px -6px 10px -6px #aaa;*/
  box-shadow: 0px 6px 10px -6px #aaa;
  -webkit-box-shadow: 0px 6px 10px -6px #aaa;
  -mox-box-shadow: 0px 6px 10px -6px #aaa;
}
.random-column-chart {
  display: table-cell;
  vertical-align: middle;
}

.random-column-stats-table {
  border-spacing: 0;
  display: table-cell;
  vertical-align: middle;
  padding: 14px;
  border-right: 1px solid #eee;
  max-width: 250px;
}

.random-column-stats-table tbody tr td {
  padding: 12px;
  font-size: 12px;
  color: #777;
}

.title, .title > a {
  font-weight: 200;
  font-size: 20px;
  margin-left: 15px;
  color: inherit;
}
.chart-label-master {
  min-width: 75px;
  width: 25%;
  height: 30%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  /*position: absolute;
  margin: 0 auto;
  left: 40%;
  top: 39%;*/
}
.chart-label {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}
.chart-label-container {
  display: table-cell;
  vertical-align: middle;
}

.chart-position-adjustment {
  margin-left: -45px;
  padding-top: 50%;
}
.big-number {
  font-size: 22px;
  color: #333333;
}
.summary-age {
  color: #333333;
  font-size: 15px;
}

#map {
  height: 400px;
  width: 100%;
}
.chart-canvas-container {
/*  padding-top: 48%; */
  min-width: 300px;
/*  margin-left: -40px;*/
  position: relative;
}
.chart-legend {
  position: absolute;
  bottom: 0;
  width: 100%;

}
.chart-legend table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  color: #eee;
  letter-spacing: 1px;
  font-weight: 200;
}

.legend-square {
  font-size: 10px;
}

.random-column-title {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 400px;
  position: absolute;
  z-index: 1000000;
}

.page-title {
  color: #aaa;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 15px;
}
.page-title a {
  color: #aaaaaa;
  text-decoration: none;
}

small, .small {
  font-size: 85%;
}

.column-div {
  padding: 0 !important;
}
.unit-box {
  text-align: center;
  min-height: 24px;
}
.hasFossils {
  height: 10px;
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-left: 5px;
}
.hasFossils.black {
  -webkit-filter: invert(0);
  filter: invert(0);
}
.period-names {
  text-align: center;
}
.section-container {
  margin-left: 0;
  min-height: 24px;
}
.section-box > a:hover {
  text-decoration: none;
}



.name-hierarchy {
  width: 92%;
  padding-top: 35px;
  max-width: 700px;
  margin: 0 auto;
}
.hierarchy-container {
  border: 1px solid #eee;
  cursor: pointer;
}
.hierarchy-name {
  font-weight: bold;
  padding: 7px;
}
.hierarchy-link {
  text-decoration: none;
  color: #000;
}
.hierarchy-link:hover {
  color: #990000;
  text-decoration: none;
}
.active-strat-name {
  background-color: rgba(153, 0, 0, 0.3);
  border: 2px solid rgba(153, 0, 0, 0.3);
}
.not-active-strat-name {
  background-color: #ffffff;
}
.hierarchy-1 {
  border-radius: 4px;
  margin: 30px;
}
.hierarchy-2 {
  margin-left: 20px;
}
.hierarchy-3 {
  margin-left: 40px;
}
.hierarchy-4 {
  margin-left: 60px;
}
.hierarchy-5 {
  margin-left: 80px;
}


.no-results > img {
  height: 400px;
}

.no-results {
  color: #aaa;
  background: url(../img/noun_520.svg);
  background-size: 400px;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.concept-names {
  text-align: left;
  font-size: 15px;
  margin: 0 5px;;
}

.concept-group-title > h3 {
  font-size: 30px;
  color: #aaa;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 50px;
  display: inline;
}

.concept-group-title {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
}

.concept-ref {
  margin-left: 10px;
  font-size: 11px;
  color: #777
}


.concept-group-attributes > p > strong {
  font-size: 14px;
}
.concept-group-attributes > p {
  font-size: 13px;
}

.concept-info {
  padding: 20px;
  margin: 55px 0;
}

.badge {
  background-color: #aaaaaa;
  font-weight: 200;
}

.strat-column {
  margin-top: 50px;
}
.alternate-column {
  margin-left: 45%;
}

.toggleOutcrop {
  right: 5px;
  bottom: 21px;
  height: auto;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.mapMenuButton {
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  background-position: center;
  margin: 0 auto;
}

.outcrop {
  background-image: url(../img/noun_528_small.png);
}

.fossils {
  background-image: url(../img/noun_3167.png);
}

.satellite {
  background-image: url(../img/noun_84286.png);
}

.patty, .hamburger {
  height: 15px;
  width: 15px;
  background-size: 20px;
}

.patty {
  background-image: url(../img/patty.png);
  filter: invert(1);
  -webkit-filter: invert(1);
}
.hamburger {
  background-image: url(../img/hamburger.png);
}

.expand {
  position: absolute;
  bottom: 20px;
  right: 3px;
  text-align: center;
  z-index: 99999;
  color: #000000;
  width: auto;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}
.expand-toggle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  z-index: 2;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.expand-toggle:hover {
  background-color: #EAEAEA;
}
.expand-toggle.expanded {
  background-color: #A6A6A6;
  color: #FFFFFF;
}
.expand-toggle.expanded:hover {
  background-color: #999999;
}
.expand-menu-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}

.expand-menu {
    margin-bottom: 55px;
    z-index: 1;
    -webkit-animation-duration: 0.65s;
    -moz-animation-duration: 0.65s;
    animation-duration: 0.65s;
}
.expand-menu-button {
    height: 50px;
    width: 50px;
    border-radius: 35px;
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 5px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.expand-menu-button:hover {
  background-color: #EAEAEA;
}
.expand-menu-button.active {
  background-color: #A6A6A6;
  color: #FFFFFF;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.open {
    visibility: visible !important;
}
.closeMenu {
    visibility: visible !important;
}

.preload * {
  visibility:hidden !important;
}

.chart-row {
  padding-bottom: 25px;
}

.prevalent-taxa-row {
  background-color: #999999;
  padding: 15px;
  margin-top: 20px;
  height: 90px;
}

.prevalent-taxa-container {
  text-align: center;
  display: table;
  height: 100%;
}

.prevalent-taxa-container:first-of-type {
  border-right: 1px solid whitesmoke;
}

.prevalent-taxa {
  display: table-cell;
  vertical-align: middle;
}

.prevalent-taxa > img {
  filter: invert(1);
  -webkit-filter: invert(1);
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
  height: 35px;
}
.prevalent-taxa > p {
  color: #F5F5F5;
  font-size: 0.8em;
  font-weight: 200;
  margin-top: 5px;
}

#prevalent-taxa-title {
  color: #F5F5F5;
  font-size: 1.2em;
  margin-bottom: 0;
}

.normalize-link {
  color: inherit;
}
.normalize-link:hover {
  color: inherit;
}

.def-page {
  padding: 25px;
}

.def-page-title, .def-page-title > a {
  font-size: 30px;
  color: #aaa;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 50px;
  display: inline;
}
.def-page-title > a:hover {
  text-decoration: none;
}
.def-page-title small {
  font-size: 11px;
  letter-spacing: 1px;
}
.filter-input {
  float: right;
  margin-top: 13px;
  padding: 4px;
  background-color: #fff;
  border: none;
  outline: 0;
  border-bottom: 1px solid #eee;
  margin-left: 25px;
  font-size: 14px;
  font-weight: 200;
}

.def-table tr {
  cursor: pointer;
}

.burwell-popup-head {
  font-weight: bold;
  color: #bbb;
}


.footer {
  background-color: #eeeeee;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;;
  width: 100%;
  margin-top: 120px;
}

.footer-left {
  text-align: center;
  border-right: 1px solid #aaa;
  height: 100%;
  padding-right: 15px;
}
.footer-brand {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
}
.footer-brand > a, .footer-brand > a:hover {
  color: #000000;
  text-decoration: none;
}
.footer-logo {
  height: 30px;
}
.footer-right {
  padding: 0 30px;
}
.footer-source-title {
  font-weight: 200;
}

.footer-license {
  height: 40px;
}

.pbdb-popup {
  text-align: center;
}
.pbdb-popup-link {
  color: #000000 !important;
  font-size: 13px;
  font-weight: bold;
}

.loading-container {
  z-index: 9999999;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.8);
}
/* loading css via http://codepen.io/mikeambrosi/pen/JdEMVX */
.loading,
.loading::before,
.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 100px;
  width: 100px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 768px) {
  .leaflet-control-zoom {
    display: none;
  }
  .headerItem.right {
    width: 200px;
  }
  .page-title {
    font-size: 1.5em;
  }
  .main-stats-stat {
    padding: 10px;
  }
  .random-column-stats {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .random-column-stats-table {
    padding: 6px;
  }
  .random-column-stats {
    width: 118px;
  }
  .big-number {
    font-size: 16px;
  }
  .title {
    margin-bottom: 50px;
    width: auto;
  }
  .chart-legend {
    position: inherit;
  }
  .prevalent-taxa-row {
    height: auto;
  }
  .prevalent-taxa-container {
    display: inherit;
  }
  .prevalent-taxa {
    display: inherit;
  }
}
