.raster {
  color: white;
  background-color: lightgreen;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  display: inline-block;
  font-size: 0.8em;
}

h1, h3 {
  margin: 0;
}

.maps-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  column-gap: 1em;
  row-gap: 0;

  .link-title {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }

    a {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
  }

  p {
    font-size: 0.5em;
  }
}

.source-id {
  &::before {
    content: "#";
    color: var(--text-dim-color);
  }

  color: var(--text-subtle-color);
  min-width: 3em;
  display: inline-block;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em 0;
  }
}

.pages {
  margin: 10px 0;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

  .page-container {
    display: grid;
    grid-template-columns: 100px 50px 100px;
    color: var(--text-emphasized-color);

    .btn-content {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }
}

.search-bar {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border: none;
    background-color: var(--background-color);
    color: var(--text-emphasized-color);
    font-size: 1em;
    margin: 3px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0.2em var(--text-emphasized-color);
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: .5em;
  align-items: center;
}

.tiny {
  background-color: #45B29D;
}
.small {
  background-color: #45B29D;
}
.medium {
  background-color: #E27A3F;
}
.large {
  background-color: #3498DB;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.maps-page {
  width: 100%;
}

.id {
  text-align: right;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  color: var(--text-emphasized-color);
  background-color: var(--background-color);
  align-self: flex-end;
}

.size {
  color: var(--text-emphasized-color);
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  align-self: flex-end;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }
}