.raster {
  color: white;
  background-color: lightgreen;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  display: inline-block;
  font-size: 0.8em;
}

.maps-list {
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;

  a {
    color: white !important;
  }

  .link-title {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }

    a {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
  }
}

.source-id {
  &::before {
    content: "#";
    color: var(--text-dim-color);
  }

  color: var(--text-subtle-color);
  min-width: 3em;
  display: inline-block;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em 0;
  }
}

.pages {
  margin: 10px 0;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

  .page-container {
    display: grid;
    grid-template-columns: 100px 50px 100px;
    color: var(--text-emphasized-color);

    .btn-content {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }
}
