.map-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-legend-container {
    padding: 10px;
}

.add-geo-popover {
    padding: 10px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-tools-control-right {
    position: absolute;
    top: 160px;
    right: 9px;
}

.map-tools-control-left {
    position: absolute;
    top: 210px;
    left: 9px;
}
