.control-label
  display: inline-flex
  align-items center
  justify-content: space-between
  flex-grow: 1

.control-label-text
  margin-right: 1em

.info, .admonition
  font-style: italic


.admonition
  color: var(--error-text-color)
  font-size: 0.9em
  line-height: 1em

.dark-mode-controls
  display: flex
  gap: 0.5em
  align-items: center

  & > :first-child
    flex-grow: 1

.settings
  .auto-button
    font-size: 12px
    font-style: italic

  & > *
    width: 100%
    margin: 0.1em 0 0.2em

  :global
    .bp6-control
      display: flex
      width: 100%
      align-items: center

      .control-label
        flex-grow: 1

    .bp6-callout
      padding: 0.5em
      position: relative

    .bp6-button, .bp6-button-group
      justify-content: start
      align-items: center
      //box-shadow: 0 0 0px 1px var(--card-shadow-color)
      border-radius: 2px

      .bp6-button-text
        flex-grow: 1

      .spacer
        flex-grow 1

      .bp6-button
        width: auto
        display: inline
        margin: 0

.callout-panel
  border-radius: 3px
  overflow: hidden

  .callout-header
    :global(.bp6-button)
      width: 100%

  &.expanded
    .callout-header
      :global(.bp6-button)
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        margin-bottom: 0

  :global(.bp6-callout)
    border-top-left-radius: 0
    border-top-right-radius: 0

    & > :last-child
      margin-bottom: 0


.flex-row
  align-items baseline
  max-width: 100%
  margin: 0 1em

  h3
    flex: 1
    max-width: 9em
  display: flex
  flex: 1
  flex-direction: row
  gap: 0.5em

  & > *
    flex: 1



