.table-container
  height: 100%
  display: flex
  flex-direction: column

td
  text-wrap: nowrap
  background-color: #ffffff78

tr:nth-child(odd) td
  background-color: #ffffff

div.input-form
  display: flex
  flex-direction: row

.update-input-group
  flex-grow: 1

div.filter-header
  padding-bottom: .4rem
  font-size: 1rem

div.filter-select
  padding-bottom: .2rem

div.filter-container
  box-shadow: #00000038 1px 1px 8px
  padding: 10px
  border-radius: 10px

div.warning
  background-color: rgb(255 216 152 / 73%)
  color: black
  border: #ffe26c solid 1px
  font-size: 1rem
  padding-bottom: 0.2rem

.editable-cell
  height: 18px
  padding: 1.7px 8px
  font-size: 12px
  min-height: 0px
  min-width: 99%
  box-shadow: none
  border: 0
  z-index: 0
  position: relative
  max-width: 99%

.read-only-value
  color: #ccc

.row-header-text.omit
  // Strikethrough
  text-decoration: line-through
  color: #666

.table-actions
  display: flex
  flex-direction: row
  gap: 1em
  align-items: baseline

  .spacer
    flex-grow: 1
