/*
This stylesheet the overall application page layout.
*/

.panel-card
  padding: 10px
  >:last-child
    margin-bottom: 0


.panel-container
  display flex
  flex-direction: column
  &>div
    pointer-events all

.panel-title
  font-size 16px

.map-view-placeholder
  flex-grow: 1
  position: relative
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center

.searchbar-holder
  margin-bottom 0.5em

.right-panel
  width: 24em

// Menu
.buttons
  display: flex
  flex-direction: row
  flex: 1
  min-width: 0

.tab-button
  flex-shrink: 1
  min-width: 40px
  overflow: hidden
  text-align: right
  :global(.bp4-button-text)
    transition all 0.2s
    transition-delay 0.1s

.menu-card.narrow-card
  // Transition opacity when leaving context panel
  .panel-header:not(.minimal)
    // .tab-button
    //   &:not(:hover) :global(.bp4-button-text)
    //     //width 0
    //     opacity: 1
        //margin-left: -7px
    // Fancy CSS to select all buttons _after_ the currently hovered one
    .tab-button:global(.bp4-active) ~ .tab-button :global(.bp4-button-text)
        width 0
        opacity: 0
        margin-left: -7px

// Todo: not sure how to deal with this style
// When panel is closing, fade out the buttons text-first
:global(.map-context-leave) .menu-card .panel-header
  .tab-button :global(.bp4-button-text)
    opacity: 0
    width: 0

.narrow-card.narrow-enter .panel-header .buttons
  // When we have not yet transitioned to a "minimal" state, we need extra space
  // to not crowd buttons that haven't yet transitioned
  margin-right: -500px

.panel-header.minimal
  .tab-button:not(:hover)
    &:not(:global(.bp4-active))
      padding-left: 0
      padding-right: 0
      min-width: 30px
      width: 30px
    :global(.bp4-button-text)
      width 0
      opacity: 0
      margin-left: -7px

.menu-group
  margin-bottom: 0.5em
  margin-top: 0.2em


.menu-card
  :global
    .bp4-text, .text-panel
      ul
        padding-left: 1em

.menu-content
  display flex
  flex-direction column
  .bp4-button-group
    margin-bottom 4px
  margin-bottom -8px

  hr
    width 100%

// This is a good candidate for moving to the map-interface package
.macrostrat-map-container.searching
  .context-underlay
    background-color: var(--panel-background-color)
    opacity: 0.5
    pointer-events: all
  .map-view-container
    pointer-events: none

.context-underlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  z-index: 1

/* Desktop styling is necessarily much more complicated than mobile
  to handle a two-column layout. */
@media screen and (min-width: 768px)
  .macrostrat-map-container
    --map-context-stack-width: 18em
    &.context-open
      --map-context-stack-width: 34em
    &.searching
      --map-context-stack-width: 24em
    &.layers, &.settings
      --map-context-stack-width: 18em
