.nav
  position: fixed
  width: 100%
  z-index: 10000

  ul 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #015eab;

  li 
    float: left;
    font-size: 15px

  li a 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none