


.macrostrat-detail
  margin: 0.25em 0px 0.5em;
  display: flex;
  align-items: center;



.infodrawer
  pointer-events all
  max-height 100%
  max-width 100%
  display flex
  flex-direction column
  padding 0
  overflow hidden
  header
    padding 5px
    display flex
    flex-direction row
    align-items: center
    .spacer
      flex-grow 1
    .left-icon
      padding 7px

  .infodrawer-header
    display flex
    flex-direction row
    align-items baseline
    margin-right 1em


.infodrawer-body
  overflow-y scroll
  flex-shrink 1

.spacer
  flex-grow 1
  pointer-events none

.spinner{
  margin: 10px;
}

@media screen and (max-width: 768px)
  .infodrawer
    border-radius: 0px;
