

.infodrawer-container
  width 30em
  position absolute
  right 0px
  top 0px
  bottom: 0px
  pointer-events none
  display flex
  flex-direction column
  :global
    .macrostrat-detail
      margin: 15px 0px;
      display: flex;
      align-items: center;

.expansion-children
  margin-left 10px

.infodrawer
  pointer-events all
  max-height 100%
  display flex
  flex-direction column
  padding 0
  overflow hidden
  header
    padding 5px
    display flex
    flex-direction row
    align-items: center
    .spacer
      flex-grow 1
    .left-icon
      padding 7px

  .infodrawer-header
    display flex
    flex-direction row
    align-items baseline
    margin-right 1em


.infodrawer-body
  overflow-y scroll
  flex-shrink 1

.spacer
  flex-grow 1

.spinner{
  margin: 10px;
}