.footer
  border-top: 1px solid var(--secondary-background)
  color: var(--secondary-color)

  .funding-line
    color: var(--text-emphasized-color)

  .footer-nav
    display: flex
    padding: 2em 0
    flex-wrap: wrap
    max-width: 400px
    gap: 10px 40px

  .footer-nav > *
    width: calc(50% - 20px)

  .footer-container
    display: flex
    flex-direction: row
    justify-content: space-between

  .footer-text-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 1em 0

    .footer-text
      display: flex
      gap: 5px

  .nav-logo
    padding-top: 5px

  .git_logo
    vertical-align: sub

  .f1-text
    display: flex
    gap: 7px

  #who-made-it
    padding-top: 25px

  .nav-link
    display: inline-flex
    gap: 5px
    align-items: center
