.navbar
  display: flex
  flex-direction: row
  justify-content: space-between

.nav-list
  display: flex
  flex-direction: row
  gap: 0.5em
  list-style: none

  .nav-list-item
    padding: 0.2em 0.5em
    border-radius: var(--pz-radius-md)
    text-decoration: none
    transition: background-color 0.3s ease

    &:hover
      background-color: var(--pz-hover-background-color)

  // The section you are in.
  .active
    background-color: var(--pz-selected-background-color)
    a
      color: var(--pz-selected-text-color)
    &:hover
      background-color: var(--pz-selected-background-color)
