*
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

html, body
  margin 0
  padding 0
  height 100vh
  width 100vw
  overflow-y: none


.column-view
  flex-grow 1
  h1
    font-size 1.2em
    margin-bottom 0.2em
    padding-left 35px

.flex-container
  display flex
  &.row
    flex-direction row
  &.column
    flex-direction column

// Column
.column
  display: flex
  flex-direction row
  .age-axis-label
    writing-mode vertical-lr
    transform: rotate(180deg)
    font-size 12px
    text-align: center
    position: sticky
    top: 0
    max-height: 100vh
  .tick text
    text-anchor middle
    font-weight 400 !important
    transform rotate(-90deg) translate(8px,-12px)

rect.unit
  stroke: black
  stroke-width: 1px

g.lithology-column use.frame
  stroke black
  stroke-width: 1.5px !important
  pointer-events none

.col-note-label
  font-size: 10px
  margin-top 3px
  padding 2px
  padding-left: 3px
  line-height: 9px
  border-left none !important

g.height-range
  display none

.note-inner
  border: none

.frame rect
  fill transparent

.map-placeholder
  position relative

.macrostrat-map
  .graticule
    stroke-dasharray inherit
    stroke darken(#AFE6F0, 5%)
  .neatline
    stroke-width 1.5px

div.column-ui
  padding 0
  width 100vw
  display flex
  flex-direction row
  height 100vh

.column-nav
  position sticky
  top 2.2em
  h3
    color: #444
    margin-bottom: 0.3em

.default-buttons
  width: 100%
  margin 0 -10px

div.context-map
  cursor pointer
  .columns path:hover
    stroke: rgba(255,0,0,.4) !important

  .land
    background-color rgb(233, 252, 234)

div.main-panel
  flex-grow 1
  overflow-y: scroll
  padding 1em

div.detrital-column
  flex-grow 2
  h5
    font-weight 400
    font-style: italic
    font-size 10px
    margin 0
    margin-bottom -2em

div.map-column
  width 600px
  height 100vh
  display flex
  flex-direction column
  .map-area
    flex-grow 1

  rect.depositional-age
    fill #aaa

@media (prefers-color-scheme: dark)
  body
    display block

  .lithology-column .frame
    stroke: white !important
  g.inner
    rect.unit
      filter: invert(100%)
      stroke: black

// Helps with darkreader on Firefox
html[data-darkreader-scheme="dark"]
  .lithology-column .frame
    stroke: white
  g.inner
    pattern image
      filter: invert(100%)
