.edit-page-header
  display: flex
  flex-direction: row
  gap: 1em
  align-items: baseline

  h2
    min-width: 20%

  h3
    font-weight: 500

.map-interface
  height: 100%
  overflow: hidden
  position: relative

.map-controls-container
  padding: 0.5em
  border-radius: 6px
  max-height: calc(100vh - 300px)
  overflow-y: scroll !important
  &>:first-child
    margin-top: 0
    &>:first-child
      margin-top: 0

.map-interface.no-map
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100vh
  flex: 1

.single-map
  flex-grow: 1
  min-height: 20%

.map-controls
  margin: 5px
  background-color: var(--background-color)
  pointer-events: all
  width: fit-content
  z-index: 1000
