html, body
  color: #E0E1E6
  background-color: white

.nav
  ul 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  li 
    float: left;
    font-size: 15px

  li a 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  li a:hover 
    background-color: #111;

#logo-jpg 
  content: url("./img/logo_white.png")
  width: 35px
  padding-top: 6px

.parent
  height: 100vh

.left
  width: 70%
  text-align: center
  height: 100vh
  background-image url("./img/cover_large.jpg")
  color: white

  li
    float: left
    list-style-type: none
  
  ul
    display: inline-block;

.right
  background-color: blue
  height: 100vh
  width: 30%
  background-image url("./img/deep_sea_new_medium.jpg")

  ul 
    list-style-type: none
    margin-top: 32vh

  li 
    width: 25%
    padding-left: 10px

  .buttons1
    padding-left: 27%      

.parent
  display: inline-flex
  width: 100%

.big
  font-size: 72px
  font-family: "Maven Pro", sans-serif;
  margin-top: 32vh
  width: 40%
  margin-left: 30%
  text-align: center

.big-text
  font-family: Helvetica, sans-serif
  font-weight: 900
  font-size: 20px
  margin-bottom: 5%
  padding: 0 100px

.top-stat, .top-stat-label
  display: block
  color: white

.top-stat
  font-size: 35px
  font-family: Helvetica, sans-serif

.stats-row
  margin-top: 20%

  li
    padding-top: 10px
    padding-bottom: 20px
    color: black
    width: 100%
    
.btn
  background-color: #363434;
  border: none;
  color: white;
  padding: 13px 10px;
  margin: 10px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left
  border-radius: 12px;

.btn:hover 
  background-color: #545151 

.small-rockd
  background-image url("../img/north_america_small.jpg")
  float: left

#placeholder
    background-image url("../img/north_america_small.jpg")

.buttons1 
  font-size: 20px
  padding: 0px

  a 
    color: white
    text-decoration: none

  a:hover
    color: white

#rockd-png
  content: url("./img/rockd.jpg")
  width: 22px
  padding-right: 4px
  float: left
  padding-top: 5px

.country_container 
  height: 100vh
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  grid-template-rows: repeat(2, minmax(150px, 2fr));
  background-color: green

.country
  height: 100%
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white

.deep-sea
  background-image url("./img/deep_sea_new.jpg")

.north-america
  background-image url("./img/north_america_med.jpg")

.caribbean
  background-image url("./img/caribbean_new.jpg")

.new-zealand
  background-image url("./img/new_zealand_new.jpg")

.rock-border
  content: url("./img/rocks-border.jpg")
  width: 100%
  margin: 0

.geologic-maps
  height: 100vh
  background-color: white
  color: black
  margin: 0

.map-info
  padding: 0 10vh
  margin: 0

.title
  margin: 0
  font-size: 72px
  font-family: "Maven Pro", sans-serif;
  padding: 20vh 0
  text-align: center

#about
  height: 100vh
  background-color: white
  color: black
  margin: 0

#apps
  height: 100vh
  color: black
  background-color: white

#api
  height: 100vh

.donate-container
  height: 80vh
  background-image url("./img/donate_medium.jpg")

.donate-title
  color:white
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-family: "Maven Pro", sans-serif;