.column-container :global {
  --background-color: var(--column-background-color, #fff);
  --stroke-color: var(--column-stroke-color, #000);
}
.column-container :global .column {
  display: flex;
  flex-direction: row;
}
.column-container :global .column .age-axis-label {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 12px;
  text-align: center;
  position: sticky;
  top: 0;
  max-height: 100vh;
}
.column-container :global .column .tick text {
  text-anchor: middle;
  font-weight: 400 !important;
  transform: rotate(-90deg) translate(8px, -12px);
}
.column-container :global rect.unit {
  stroke: var(--stroke-color);
  stroke-width: 1px;
}
.column-container :global g.lithology-column use.frame {
  stroke: var(--stroke-color);
  stroke-width: 1.5px !important;
  pointer-events: none;
}
.column-container :global .unit-label {
  text-align: center;
}
.column-container :global .col-note-label {
  font-size: 10px;
  margin-top: 3px;
  padding: 2px;
  padding-left: 3px;
  line-height: 9px;
  border-left: none !important;
}
.column-container :global g.height-range {
  display: none;
}
.column-container :global .note-inner {
  border: none;
}
.column-container :global .frame rect {
  fill: transparent;
}
.column-container :global .labeled-unit .unit-overlay {
  font-size: 10px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-container :global .labeled-unit .unit-overlay .unit-label {
  display: block;
  text-shadow: 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color), 0px 0px 4px var(--background-color);
}
.column-container :global .default-buttons {
  width: 100%;
  margin: 0 -10px;
}
.column-container :global div.section {
  display: flex;
  flex-direction: row;
}
.column-container :global div.section :global(.timescale) {
  transform: translateY(0.5);
}
.column-container :global .section .divisions .unit {
  cursor: pointer;
}
.column-container :global rect.selection-overlay {
  fill: rgba(255,0,0,0.5);
}
.column-container :global div.timescale {
  width: calc(6em + 4px);
  --timescale-level-size: 1.5em;
}
.unconformity {
  height: 0px;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  margin-left: calc(6em + 4px + 40px);
}
.unconformity-text {
  transform: translateY(-0.5em);
  width: var(--column-width);
  color: var(--stroke-color);
}
.column-container.dark-mode :global {
  color: var(--text-color);
}
.column-container.dark-mode :global .timescale {
  color: #000;
}
.column-container.dark-mode :global g.inner pattern image {
  filter: invert(80%);
}
