.open-search
  min-width: 340px

.tag-list-control
  min-width: 280px

.checkbox-set
  display: flex
  flex-direction: column
  gap: 2px
  padding: 2px 8px 4px
  :global(.bp6-control)
    margin-bottom: 0

.operator-value
  padding: 2px 8px 4px
  gap: 4px
  input
    max-width: 6em

.colored-tag
  max-width: 100%

.menu-form-item
  display: block
  padding: 2px 8px 6px

.menu-form-title
  font-size: 12px
  font-weight: 600
  color: var(--secondary-color)
  padding: 2px 0

.year-selector
  padding: 2px 8px 4px
  gap: 4px
