html, body
  color: #E0E1E6
  background-color: white
  margin: 0

a:hover
  text-decoration: none

.nav
  position: fixed
  width: 100%
  z-index: 10000

  ul 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #015eab;

  li 
    float: left;
    font-size: 15px

  li a 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none

.parent
  height: 100vh

.left
  width: 70%
  display: flex;
  justify-content: center;
  align-items: center;  height: 100vh
  color: white

  li
    float: left
    list-style-type: none
    width: 33%

  ul
    display: inline-block
    width: 100%

.text
  position:absolute
  z-index: 100
  padding: 0 20px

.cover-image
  position:absolute
  z-index:5
  left:0px
  top:0px
  height: 100vh
  width: 70%
  object-fit: cover

.sea-image
  position:absolute
  z-index: 6
  height: 100vh
  width: 30%
  object-fit: cover

.right
  background-color: blue
  height: 100vh
  width: 30%

  ul 
    list-style-type: none
    margin-top: 32vh

  li 
    width: 25%
    padding-left: 10px

  .buttons1
    padding-left: 27%      

.parent
  display: inline-flex
  width: 100%

.big
  font-size: 72px
  font-family: "Maven Pro", sans-serif;
  text-align: center

.big-text
  font-family: Helvetica, sans-serif
  font-weight: 900
  font-size: 20px

.top-stat, .top-stat-label
  display: block
  color: white

.top-stat
  font-size: 35px
  font-family: Helvetica, sans-serif

.stats-row
  margin-top: 20%

  li
    padding-top: 10px
    padding-bottom: 20px
    color: black
    width: 100%
    
.rockd
  background-color: green

.btn
  background-color: #363434;
  border: none;
  color: white;
  padding: 13px 10px;
  margin: 10px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left
  border-radius: 12px;

.btn:hover 
  background-color: #545151 

.buttons1 
  font-size: 20px
  padding: 0px

  a 
    color: white
    text-decoration: none

  a:hover
    color: white

.rockd-png
  width: 22px
  padding-right: 4px
  float: left
  padding-top: 5px

.country_container 
  height: 100vh
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  grid-template-rows: repeat(2, minmax(150px, 2fr));
  background-color: green

.country
  height: 100%
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white

.img
  position:absolute
  z-index:5
  height: 100vh
  width: 100%
  object-fit: cover

.country-image
  height: 50vh
  width: 50%

.rock-border
  width: 100%
  margin: 0
  padding: 0

.geologic-maps
  height: 100vh
  background-color: white
  color: black
  margin: 0

.map-info
  padding: 0 10vh
  margin: 0

.title
  margin: 0
  font-size: 72px
  font-family: "Maven Pro", sans-serif;
  padding: 20vh 0
  text-align: center

#about
  height: 100vh
  background-color: white
  color: black
  margin: 0

#apps
  height: 100vh
  color: black
  background-color: white

#api
  height: 100vh

.donate-container
  height: 80vh

.donate-title
  a 
    color:white
  a:hover
    text-decoration: none

  color: white
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-family: "Maven Pro", sans-serif;
  padding: 0

.donate-left
  float: left
  width: 50%
  height: 80vh
  display: flex;
  justify-content: center;
  align-items: center;

.donate-right
  float: right
  width: 50%
  height: 80vh
  display: flex;
  justify-content: center;
  align-items: center;

.donate-info
  background: rgba(255,255,255,0.5);
  padding: 25px
  color: black
  width: 80%
  font-size: 18px

  a
    color: black
    font-weight: bold
    text-decoration: none

.donate-img
  position:absolute
  z-index:5
  height: 80vh
  width: 100%
  object-fit: cover

.footer 
  width: 100%
  background-color: #015EAB

.footer-container
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%

.col-sm-4
  color: white
  width: 33.333%
  color: #E0E1E6;
  font-weight: 200;
  text-align: center;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold

.nav-logo
  padding-top: 5px

.funding-logo
  padding: 10px

.footer-nav
  list-style-type: none
  padding-right: 40px

  li
    padding: 5px 0

  a
    color: white

  a:hover
    text-decoration: none

.git_logo
  vertical-align: sub

.f1-text
  a
    color: white

#who-made-it
  padding-top: 25px